import(XML2R)
import(RCurl)
import(stringr)
import(zoo)
import(rjson)
import(sp)
import(rgdal)
import(rCharts)

importFrom("utils", "packageDescription")

export(GenerateMap)
export(GetStationSummary)
export(OSG2LatLon)
export(OSGParse)
export(SearchNRFA)
export(ToJSONarray)
