import(XML2R)
import(RCurl)
import(stringr)
import(zoo)
import(rjson)
import(sp)
import(rgdal)

importFrom("utils", "packageDescription")

export(NRFA_Catalogue)
export(OSG2LatLon)
export(OSGParse)
export(GDF)
export(GDFmeta)
export(CMR)
export(CMRmeta)
export(ToJSONarray)
